html[data-theme='light'] {
  --color-bg: rgb(241, 241, 242);
}

html[data-theme='dark'] {
  --color-bg: rgb(27, 27, 30);
}

.docs-story {
  background-color: var(--color-bg);
}

@media only screen and (min-width: 1440px) {
  [data-theme] {
    --spacing: 20px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  [data-theme] {
      --spacing: 20px;
  }
}

@media only screen and (max-width: 1279px) {
  [data-theme] {
      --spacing: 20px;
  }
}
